---
import Buttons from '../components/2iesweb/Buttons.astro';
import Hamburger from '../components/Hamburger.astro';
import Logo from '../components/vectors/Logo.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>404</title>
  </head>
  <header>
    <nav>
        <div class="logo-container">
            <Logo bgColor="#4fa669" fgColor="#f4f6f6"/>
        </div>

        <div class="navlinks-container">
            <a href="">HOME</a>
            <a href="">NOSOTROS</a>
            <a href="">SERVICIOS</a>
            <a href="">PRODUCTOS</a>
            <a href="">GALERÍA DE ÉXITOS</a>
            <a href="">CLIENTES</a>
        </div>
        <div class="headerbuttons-container">
            <Buttons bgColor="#6bdb50" fgColor="#fdfffe" text="CONTACTAR"/>
            <Buttons bgColor="#075fb4" fgColor="#fdfffe" text="F 16 de JULIO"/>
        </div>
        <div class="hamburger-container">
            <Hamburger />   
        </div>
    </nav>
</header>

</html>



<style>
    nav{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 10vh;
        justify-content: space-around;
    }
    .navlinks-container{
        display: none;
    }
    .navlinks-container a{
        text-decoration: none;
        color: #4a544c;
        justify-content: center;
    }
    .logo-container{
        display: flex;
        height: 100%;
        width: 10%;
        min-width: 100px;
    }
    
    .headerbuttons-container{
        display: none;
    }
    .hamburger-container{
        display: flex;
        align-items: center;
    }
    body{
        background-color: blue;
    }
      /* SMARTPHONES PORTRAIT */
  @media only screen and (min-width: 300px) {
    body{
        background-color: white;
    }
    nav{
        
    }

  }

  /* SMARTPHONES LANDSCAPE */
  @media only screen and (min-width: 480px) {
    body{
        background-color: white;
    }
    nav{
        padding-top: 20px;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navlinks-container{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        font-size:21px ;
        font-weight: bold;
        font-family: 'Staatliches', cursive;
        letter-spacing: 1.5px;
        flex-wrap: wrap;
    }
    .hamburger-container{
        display: none;
    }
    .headerbuttons-container{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
  }

  /* TABLETS PORTRAIT */
  @media only screen and (min-width: 768px) {
    body{
        background-color: white;
    }
    .navlinks-container{
        font-size: 24px;
    }
  }

  /* TABLET LANDSCAPE / DESKTOP */
  @media only screen and (min-width: 1024px) {
    .headerbuttons-container{
        gap: 20px;
        padding-right: 50px;
    }
    .navlinks-container{
        font-size: 28px;
        font-weight:lighter;
        padding-right: 80px;
    }
    nav{
        justify-content: space-between;
    }
    .logo-container{
        padding-left: 20px;
    }
  }
</style>

