---
---
<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>

  <style>
    /* estilos de la barra de navegación*/
.hamburger {
  display: flex;
  flex-direction: column;
  border: #4a544c solid 1px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 50%;
  margin-bottom: 50%;
}

.hamburger .line {
  margin-top: 2px;
  display:flex;
  width: 40px;
  height: 3px;
  margin-bottom: 2px;
  background-color: #4a544c;
}
  </style>